


#custommenuwrap {
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333),
		to(#222222) );
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	background-color: #333333;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#333333', endColorstr = '#222222', GradientType = 0 );
	border: none;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	overflow: visible;
	color: #FFFFFF; -webkit-box-shadow : 0 1px 3px rgba( 0, 0, 0, 0.25),
	inset 0 -1px 0 rgba( 0, 0, 0, 0.1); -moz-box-shadow : 0 1px 3px rgba( 0
	, 0, 0, 0.25), inset 0 -1px 0 rgba( 0, 0, 0, 0.1); box-shadow : 0 1px
	3px rgba( 0, 0, 0, 0.25), inset 0 -1px 0 rgba( 0, 0, 0, 0.1);
	height: 40px;
	padding-left: 35px;
	padding-right: 35px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0
		rgba(0, 0, 0, 0.1);
	min-width: 900px;''
}



#custommenu #navigation {
	display: block;
	height: 40px;
	float: left;
}

#custommenu ul li a:hover {
	box-shadow: inner 0 0 5px #000;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	background: #444
}

#custommenu ul li a {
	display: inline-block;
	color: #fff;
	line-height: 40px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
	padding: 0 15px;
	border-right: #777 1px solid
}

#custommenu li a,#custommenu li a:visited {
	border-right: 1px solid #777777;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	padding: 0 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
}

#custommenu ul li:hover ul {
	display: inline-block
}

#custommenu ul ul,#custommenu ul li:hover ul ul,#custommenu ul ul li:hover ul ul
	{
	display: none
}

#custommenu ul li:hover ul,#custommenu ul ul li:hover ul,#custommenu ul ul ul li:hover ul
	{
	display: block
}

#custommenu ul li:hover ul li a,#custommenu ul ul li:hover ul li a,#custommenu ul ul ul li:hover ul li a
	{
	border: #777 1px solid;
	margin: -1px 0 0 -11px
}

#custommenu li ul a {
	background: #555
}

#custommenu ul li:hover ul li a {
	width: 150px;
	padding: 0 14px
}

#custommenu li {
	list-style-type: none;
}

#custommenu li ul {
	display: none;
	position: absolute;
	top: 40px;
	left: 10px
}

/* remove all the bullets, borders and padding from the default list styling */
#custommenu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#custommenu li {
	float: left;
	position: relative;
}

#custommenu ul ul li {
	background-color: #FFF;
	border: 0 none;
	display: block;
	font-weight: 400;
	text-decoration: none;
	z-index: 999;
}

#custommenu ul ul li:hover {
	
}

#custommenu #home {
	border-right: 1px solid #777777;
	float: left;
	height: 40px;
	margin-left: 15px;
}

#home a:hover {
	opacity: 0.5;
}
/* style the links for the top level */
	/* style the second level background */
	/* hide the sub levels and give them a positon absolute so that they take up no room */
}





