/* Foundation v2.2.1 http://foundation.zurb.com */
	/* Artfully masterminded by ZURB  */
	/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/ /* -----------------------------------------
   Shared Styles
----------------------------------------- */
	/* -----------------------------------------
   Page Name 1
----------------------------------------- */
	/* -----------------------------------------
   Page Name 2
----------------------------------------- */
body {
	background-image: -moz-linear-gradient(top, [[settings:pastelcolor]], #ffffff);
	background-image: -ms-linear-gradient(top, [[settings:pastelcolor]], #ffffff);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from([[settings:pastelcolor]]), to(#ffffff) );
	background-image: -webkit-linear-gradient(top, [[settings:pastelcolor]], #ffffff);
	background-image: -o-linear-gradient(top, [[settings:pastelcolor]], #ffffff);
	background-image: linear-gradient(top, [[settings:pastelcolor]], #ffffff);
	background-repeat: repeat-x; filter: progid : DXImageTransform.Microsoft.gradient 
	(startColorstr = '[[settings:pastelcolor]]', endColorstr =   '#ffffff', GradientType = 0 );
}

body#page-login-index {
	background-color: #000;
	background-color: [[setting:loginbgcolor]];
	background-image: none;
}

body#page-login-index #custommenu {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	}

#page {
	font-size: 108%;
	line-height: 1.4;

}

.has_dock #page-content-wrapper {
	margin-left: 45px;
}

#page-content-wrapper {
	background-image: url([[pix:theme|wash-white-30]]);
	background-repeat: repeat;
}

body#page-login-index #page-content-wrapper {
	background-image: url([[pix:theme|login-background-lq]]);
	background-image: url([[pix:theme|nuim_login_background]]);
	background-repeat: no-repeat;
	height: 980px;
	margin-left: auto;
	margin-right: auto;
}
/* custom background image */
body#page-login-index #page-content-wrapper {
    [[setting:custombackground]]
}

body#page-login-index #page-footer {
	display: none;
}


body#page-login-index #page {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

div.block {
	background-color: [[settings:blockbackground]];
	box-shadow: 0 0 25px [[settings:blockshade]]     inset;
	padding: 20px 10px;
	border: 0px;
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 20px;
	border-radius: 4px 4px 4px 4px;
}

.block .content input[type="text"] {
	border: 1px solid [[settings:thinborder]];
	border-radius: 5px 5px 5px 5px;
	height: 30px;
	margin: 6px 0 15px;
     padding-left: 7px;
	width: 150px;
	
}

.section.main {
	border-bottom: 1px solid #DDDDDD;
}

#nuimnews {
	background-color: [[settings:blockbackground]];
	box-shadow: 0 0 25px [[settings:blockshade]]     inset;
	height: 180px;
	padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
	border: 0px;
	margin-bottom: 20px;
	border-radius: 4px 4px 4px 4px;

}

#nuimnews .forumpost {
	display: none;
}

#nuimnews .orbit-wrapper .forumpost {
	display: visible;
	background-color: [[settings:blockbackground]];
	border: 0px;
	height: 150px;
	margin-left: 30px;
    margin-right: 30px;
	overflow: hidden;
	width: 90%;
}

#nuimnews .forumpost {
	display: none;
}

#nuimnews .forumpost p {

    margin: 0 0 10px;
}


#nuimnews .forumpost .subject {
	font-size: 2em;
	color: [[settings:headingcolor]];
	font-weight: bold;
}

#nuimlogo {
	float: left;
}

.headermenu {
	font-size: 1em;
	text-align: right;
}

.headermenu a {
	color: [[settings:blockshade]];
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
}

.headermenu a:hover {
	color: [[settings:blockbackground]];
	text-decoration: underline;
}

.block .block-hider-show,.block .block-hider-hide,.block .moveto,#dockeditempanel .dockeditempanel_hd .commands img
	{
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.block .moveto {
	margin-left: 4px;
}

#menulogo {
	float: left;
	width: 38px;
	padding-top: 2px;
	margin-left: 5px;
}

#page-content-wrapper {
	margin-left: 25px;
	margin-right: 25px;
}

/* Put a margin on the body if the dock is shown */



.accesshide {
	font-size: 1.2em;
	font-weight: normal;
	left: -10000px;
	position: absolute;
}

.loginpanel h2 {
	background: url([[pix:theme|modal_header]]) repeat-x scroll 0 0 #3c6aa0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 0 1px 1px #3c6aa0;
}

#page-login-index .loginbox .loginform {
    margin: 0;
    width: 350px;
}

.loginbox .loginform .form-label {
    float: left;
    margin: 0 auto;
    text-align: left;
    width: 112px;
}
.loginbox .loginform .form-input {
    float: none;
    margin: 0 auto;
    width: 100%;
}

.loginbox .loginform .form-input #username, .loginbox .loginform .form-input #password {
	border: 1px solid #3c6aa0;
	border-radius: 5px 5px 5px 5px;
	height: 25px;
	margin: 6px 0 15px;
    width: 200px;
    padding-left: 10px;
    
}

.loginbox .subcontent {
    text-align: left;

}

#page-login-index .loginbox input[type="checkbox"], #page-login-index input[type="radio"] {
    margin-right: 7px;
    float: left;
    margin-top: 3px;
    margin-left: 6px;
}

.loginbox .guestsub {
    border-top: none;
    margin: 0px;
}
.loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    margin: 0px;
}
.loginbox .loginform form label {
    cursor: pointer;
    display: block;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 9px;
}
.loginbox .loginform .form-input #loginbtn {
    margin-left: 112px;
}

.loginbox {
	margin: 0;
}
.loginpanel form {
	color: #FFF;
	margin: 0px;
}

.loginbox .loginpanel .desc {
	display: none;
}

/*
.course_category_tree .category .course_info {
    left: 0;
    position: absolute;
    top: 0;
}
.course_category_tree .category .courses .course_link {
    background-image: url("image.php?theme=nuim&image=i%2Fcourse");
    background-repeat: no-repeat;
    display: block;
    padding-left: 18px;
    margin-left: 60px;
}
*/
.course_category_tree .category .courses .smallicon
{
    padding-top: 4px;
    padding-left: 4px;
}

.course_category_tree .course_info a img {
    padding-top: 4px;
}

.course_category_tree .category_label a {
color: #181818;
font-size: 2em;
font-weight: bold;
}

#nuimsvg {
position: absolute;
}



select, option {
max-width: 160px;
}

#region-main select, #region-main option {
	max-width: none;
}

.course_category_tree .category_label {
    padding-left: 33px;
}
.course_category_tree .category .course {
    position: relative;
    padding: 5px; 
}
.course_category_tree .category  .odd {
    background-color: #F5F5F5;
    border-top: 1px solid [[settings:blockbackground]];
    border-bottom: 1px solid [[settings:blockbackground]];
    
}

#page-site-index .headingblock {
   display: none;
   }

.course_category_tree div.category {
margin-bottom: 30px;
}

.loginbox .forgetpass {
    display: none;
}

.block .header .block_action {
    float: right;
    margin: 6px 4px;
    vertical-align: top;
}

#loginhelplink {
	display: none;
}

.notloggedin #loginhelplink {
	display: block;
	margin-left: 72px;
	margin-left: [[settings:loginhelpmarginleft]];
	margin-top: -26px;
	position: absolute;
}

#loginhelplink a {
	color: #FFF;
	text-decoration: underline;
}

.loginpanel, .pagelayout-login #notice{
	background-image: url([[pix:theme|black-wash-85]]);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #666666;
	width: 365px;
	margin-left: 37px;
	margin-left: [[settings:loginpaddingleft]];
	padding-bottom: 6px;
}

.pagelayout-login #notice {
	color: #ffffff;
	padding: 10px;
}

.pagelayout-login .generalbox {
	color: #ffffff;
	border: none;
}

.formsettingheading {
	padding: 10px;
}


.formsettingheading a {
	text-decoration: underline;
}

.breadcrumb {
    float: none;
    padding-bottom: 10px;
}

.headingblock {
    border-bottom: 0px;

    font-size: 2.5em;
}
ul.topics {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #DDDDDD;
    border-radius: 2px 2px 2px 2px;
    display: block;
    overflow: hidden;
    padding: 7px 10px;
}

.navbutton {
    float: none;
    margin-bottom: 10px;
}

.flexible-wrap {
    overflow-x: scroll;
}
#page-my-index .navbutton {
    float: none;
    margin-bottom: 10px;
}

.pagelayout-report .no-overflow {
    overflow-x: scroll;
}

.course-content ul.topics li.section .content {
	margin-bottom: 5px;
}

.logininfo, .langmenu {
	float: right;
	
}
.langmenu {
	margin-right: 10px;
}
